<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPFControls.Properties.Settings>
            <setting name="K_SD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="K_GS" serializeAs="String">
                <value />
            </setting>
            <setting name="V_SD" serializeAs="String">
                <value />
            </setting>
            <setting name="V_GStart" serializeAs="String">
                <value />
            </setting>
            <setting name="V_GFinish" serializeAs="String">
                <value />
            </setting>
            <setting name="V_GStep" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value />
            </setting>
        </WPFControls.Properties.Settings>
    </userSettings>
</configuration>